[submodule "production/austin"]
	path = production/austin
	url = git@github.com:LBNL-UCB-STI/beam-data-austin.git
	branch = develop
[submodule "production/sfbay"]
	path = production/sfbay
	url = git@github.com:LBNL-UCB-STI/beam-data-sfbay.git
	branch = develop
[submodule "production/detroit"]
	path = production/detroit
	url = git@github.com:LBNL-UCB-STI/beam-data-detroit.git
	branch = develop
[submodule "production/newyork"]
	path = production/newyork
	url = git@github.com:LBNL-UCB-STI/beam-data-newyork.git
	branch = develop
