venv/
/bin/
/build/
test/output
*BeamRouterCache.dat
*DS_Store
.gradle
.project
.settings
.classpath
output/
libs
.idea/*
!.idea/runConfigurations/Run*
.cache*
target/
*.iml
out/
beam.ipr
beam.iws
docs/_build
population-500.xml
/test/input/beam/sf-bay/model-inputs/otp/graphs
test/input/beamville/example-experiment/runs
/test/input/beamville/example-experiment/experiments/
/test/input/beamville/example-calibration/experiments/
src/main/scala/beam/playground/zeeshan/
orig/
/production/application-sfbay/r5/osm.mapdb.p
/production/application-sfbay/r5/*network.dat
/production/application-sfbay/r5/osm.mapdb
/production/sfbay-*
native/
.idea/runConfigurations/Run_BEAMVILLE.xml
.Rapp.history 
beam-gui/build
/test/input/sf-light/counts/preprocessing/2015_all/
gc_*.log
/test/input/sf-light/sf-light-calibration/experiments/
/test/input/sf-light/sf-light-calibration-test/experiments/
test/input/siouxfalls/*.xml 
test/input/siouxfalls/r5/*.zip
test/input/siouxfalls/r5/*.dat 
test/input/siouxfalls/r5/*osm*
test/input/siouxfalls/*.conf 
test/input/siouxfalls/*.csv 
/production/application-sfbay/calibration/experiments/
/src/main/python/household_generator/.idea/
*Rdata
!/test/input/siouxfalls/r5/siouxareametro-sd-us.zip
osm.mapdb
osm.mapdb.p
network.dat
physsim-network.xml
src/main/scala/beam/sandbox
test/scala/beam/sandbox
log-path_IS_UNDEFINED/
.Rproj.user
