/bin/
/build/
test/output
*BeamRouterCache.dat
*DS_Store
.gradle
.project
.settings
.classpath
output/
libs
.idea/*
!.idea/runConfigurations/Run*
.cache*
target/
beam.iml
out/
beam.ipr
beam.iws
docs/_build
population-500.xml
/test/input/beam/sf-bay/model-inputs/otp/graphs
src/main/scala/beam/playground/zeeshan/
orig/
/production/application-sfbay/r5/osm.mapdb.p
/production/application-sfbay/r5/*network.dat
/production/application-sfbay/r5/osm.mapdb
/production/sfbay-*
native/
