<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <File>${log-path}/beamLog.out</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.conveyal" level="error" />

    <!--    MATSIM -->
    <logger name="org.matsim" level="ERROR" />
    <Logger name="org.matsim.core.controler.corelisteners.DumpDataAtEndImpl" level="OFF" />

    <logger name="beam.router.r5.profile.BeamMcRaptorSuboptimalPathProfileRouter" level="ERROR" />
    <Logger name="beam.agentsim.agents.ridehail.RideHailModifyPassengerScheduleManager" level="ERROR" />
    <Logger name="beam.utils.DebugActorWithTimer" level="ERROR" />
    <Logger name="beam.calibration" level="INFO" />
    <Logger name="beam.router.BeamRouter" level="ERROR" />
    <Logger name="beam.agentsim.agents.TransitDriverAgent" level="ERROR" />
    <Logger name="beam.router.r5.R5RoutingWorker" level="INFO" />

    <Logger name="org.apache.parquet" level="WARN" />
    <Logger name="org.reflections" level="ERROR" />
</configuration>
