<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
<!--
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{akkaSource} - %msg%n
            </Pattern>
-->
        </layout>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.conveyal.r5" level="ERROR"/>

    <logger name="org.matsim" level="ERROR"/>

    <logger name="beam.router.r5.profile.BeamMcRaptorSuboptimalPathProfileRouter" level="ERROR" />

    <Logger name="org.reflections" level="ERROR" />
    <Logger name="org.matsim.core.controler.corelisteners.DumpDataAtEndImpl" level="OFF" />

</configuration>
